[submodule "modules/motors"]
	path = modules/motors
	url = https://github.com/Package-Repository/motor_interface
[submodule "modules/sensors"]
	path = modules/sensors
	url = https://github.com/Package-Repository/sensors
[submodule "modules/vision"]
	path = modules/vision
	url = https://github.com/Package-Repository/vision
[submodule "modules/pid"]
	path = modules/pid
	url = https://github.com/Package-Repository/pid
